stages:
    - test

variables:
    XDEBUG_MODE: coverage

static:
    stage: test
    image: php:8.5
    script:
        - php_prepare
        - composer update -vv -o
        - ./vendor/bin/phpstan analyze src -l 8

test-8.1:
    stage: test
    image: php:8.1
    script:
        - php_prepare
        - composer update -vv -o
        - ./vendor/bin/phpunit --coverage-text --colors=never

test-8.2:
    stage: test
    image: php:8.2
    script:
        - php_prepare
        - composer update -vv -o
        - ./vendor/bin/phpunit --coverage-text --colors=never

test-8.3:
    stage: test
    image: php:8.3
    script:
        - php_prepare
        - composer update -vv -o
        - ./vendor/bin/phpunit --coverage-text --colors=never

test-8.4:
    stage: test
    image: php:8.4
    script:
        - php_prepare
        - composer update -vv -o
        - ./vendor/bin/phpunit --coverage-text --colors=never

test-8.5:
    stage: test
    image: php:8.5
    script:
        - php_prepare
        - composer update -vv -o
        - ./vendor/bin/phpunit --coverage-text --colors=never

code_style:
    stage: test
    image: php:8.5
    script:
        - php_prepare
        - composer update -vv -o
        - ./vendor/bin/php-cs-fixer fix --diff --dry-run -v

# ---------------------------------------------------------------------------
.help_scripts: &help_scripts |
    export SP_VERSION=$(echo "$CI_SERVER_VERSION" | sed 's/^\([0-9]*\)\.\([0-9]*\).*/\1-\2-stable/')

    function php_prepare() {
        apt-get update && apt-get install -qqy --no-install-recommends git unzip \
        &&  curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer \
        && pecl install xdebug-3.5.0 \
        && docker-php-ext-enable xdebug
    }

before_script:
  - *help_scripts
